

@import "tailwindcss";

* {
<<<<<<< HEAD
      /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
font-family: 'DM Serif Display', serif;
=======
      font-family: 'Times New Roman', Georgia, 'Times New Roman', Times, serif, serif;

>>>>>>> e6ce2e2118a70c88a0d3b9215ad2cfa99b6d6232
}

body {
  font-family: inherit;
  background-color: #fff;
  color: #111;
}

/* Custom animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInSlow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-25px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
}

.animate-fadeInSlow {
  animation: fadeInSlow 2s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 1.3s ease-out forwards;
}

